*.log
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/

# Archivos autogenerados por ecplipse
# Agreguemos acá todos los archivos que no nos sirvan de los que genera eclipse.
# Los xml que se generan subanlos porque es donde quedan las configuraciones de los proyectos.
# Tales como las librerías usadas.
Debug/
Release/
